:root {
  /* color */
  --color-background: #f7f8fa;
  --color-primary: #0054a5;
  --text-primary: #191819;
  --text-secondary: #757575;
  --text-ternary: #969696;
  --text-placeholder: #b3a1a1;
  --color-fe: #425cce;
  --color-be: #eba632;
  --color-mobile: #00a8a7;
  --color-cprog: #bf2b1e;
  --color-java: #ff3116;
  --color-uiux: #7e03c7;
  --color-white: #ffffff;
  --color-black: #000000;

  /* tipografi */
  --font-family: "Poppins";
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --heading-font-size: 50px;
  --section-font-size: 36px;
  --desc-very-big: 20px;
  --desc-big: 18px;
  --desc-medium: 16px;
  --desc-small: 14px;
  --desc-tiny: 12px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

/* HEADER */
.header {
  min-height: 100vh;
  width: 100%;
  padding: 30px 65px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
  /* background-color: green; */
}

.logo-bncc {
  width: 150px;
  height: 60px;
}

.nav-links {
  display: flex;
  align-items: center;
  width: 509px;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-links ul li {
  margin: 0;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--font-family);
  font-size: var(--desc-very-big);
  position: relative;
}

.nav-links ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 0;
  height: 3px;
  border-radius: 5px;
  background-color: var(--color-primary);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav-links ul li a:hover::after {
  width: 90%;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn-login {
  height: 50px;
  width: 134px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  color: var(--color-white);
  font-family: var(--font-family);
  cursor: pointer;
  font-weight: var(--weight-medium);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-register {
  height: 50px;
  width: 134px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  color: var(--color-primary);
  font-family: var(--font-family);
  cursor: pointer;
  font-weight: var(--weight-medium);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-learn-more:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.btn-login:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.btn-register:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.head-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-content {
}

.title-head {
  font-family: var(--font-family);
  font-size: 80px;
  font-weight: var(--weight-semibold);
}

.desc-head {
  font-family: var(--font-family);
  font-size: var(--desc-very-big);
  font-weight: var(--weight-medium);
  color: var(--text-secondary);
  line-height: 2;
  margin-bottom: 45px;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 13px;
}

.btn-learn-more {
  height: 50px;
  width: 264px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  color: var(--color-white);
  font-family: var(--font-family);
  cursor: pointer;
  font-weight: var(--weight-medium);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.banner-section {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.banner {
  border: solid 2px var(--color-primary);
  padding: 12px 40px;
  border-radius: 25px;
}

.banner-text {
  font-family: var(--font-family);
  font-size: var(--desc-big);
  font-weight: var(--desc-medium);
  color: var(--color-primary);
}

/* END HEADER */

/* LIST COURSE */
.list-class {
  padding: 100px 50px;
  background-color: var(--color-background);
}

.section-name {
  font-family: var(--font-family);
  font-weight: var(--weight-semibold);
  font-size: var(--section-font-size);
  color: var(--text-primary);
  margin-bottom: 18px;
}

.card-course-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-course {
  width: 394px;
  background-color: var(--color-white);
  padding: 25px 15px;
  border-radius: 12px;
  flex: 1;
}

.img-course {
  width: 478px;
  height: 209px;
  border-radius: 12px;
}

.course-detail {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.division {
  display: flex;
  align-items: center;
  gap: 5px;
}

.division .div-name {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: var(--weight-medium);
}

.div-name.frontend-development {
  color: var(--color-fe);
}

.div-name.backend-development {
  color: var(--color-be);
}

.div-name.mobile-app-development {
  color: var(--color-mobile);
}

.div-name.c-prog {
  color: var(--color-cprog);
}

.div-name.java-prog {
  color: var(--color-java);
}

.div-name.uiux-design {
  color: var(--color-uiux);
}

.meetings {
  display: flex;
  align-items: center;
  gap: 5px;
}

.meetings .meet-desc {
  font-family: var(--font-family);
  font-size: var(--desc-tiny);
  color: var(--text-ternary);
  font-weight: var(--weight-regular);
}

.course-name {
  font-family: var(--font-family);
  font-size: var(--desc-medium);
  color: var(--text-primary);
  font-weight: var(--weight-medium);
  margin: 12px 0px 23px 0px;
  width: 95%;
}

.btn-enroll {
  width: 100%;
  background-color: var(--color-primary);
  border: none;
  border-radius: 6px;
  height: 40px;
  font-size: 15px;
  color: var(--color-white);
  font-family: var(--font-family);
  font-weight: var(--weight-medium);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.btn-enroll:hover {
  opacity: 0.8;
}
/* END LIST COURSE */

/* TESTIMONI */
.testimoni {
  background-color: var(--color-white);
  padding: 75px 50px 0px 50px;
}

.head-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-desc {
  font-family: var(--font-family);
  font-weight: var(--weight-medium);
  font-size: var(--desc-medium);
  color: var(--text-secondary);
}

.section-desc span {
  font-family: var(--font-family);
  font-weight: var(--weight-bold);
  font-size: var(--desc-medium);
  color: var(--text-secondary);
}

.testimoni-container {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.card-testimoni {
  background-color: var(--color-white);
  padding: 25px 33px;
  width: 469px;
}

.comment {
  font-family: var(--font-family);
  font-size: var(--desc-medium);
  font-weight: var(--weight-medium);
  color: rgba(0, 0, 0, 0.8);
  margin: 20px 0px 45px 0px;
}

.person {
  display: flex;
  align-items: center;
  gap: 17px;
}

.person-desc {
  display: flex;
  flex-direction: column;
}

.person-name {
  font-family: var(--font-family);
  font-size: var(--desc-big);
  font-weight: var(--weight-semibold);
  color: var(--color-primary);
  margin-bottom: -2px;
}

.person-position {
  font-family: var(--font-family);
  font-size: var(--desc-small);
  font-weight: var(--weight-regular);
  color: var(--text-ternary);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination .dot {
  width: 10px;
  height: 10px;
  background-color: var(--color-primary);
  opacity: 0.2;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pagination .dot.active {
  background-color: var(--color-primary);
  opacity: 1;
  transform: scale(1.2);
}
/* END TESTIMONI */

/* CONTACT US */
.contact-section {
  margin-top: 180px;
  width: 100%;
  background-color: var(--color-background);
  padding: 50px;
}

.head-section {
  margin-bottom: 30px;
  text-align: center;
}

.section-name {
  font-size: 2rem;
  color: var(--text-primary);
}

.body-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 150px;
}

.maps-container {
  flex: 1;
  min-width: 45%;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container {
  flex: 1;
  min-width: 45%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--text-secondary);
  border-radius: 4px;
  font-size: var(--desc-small);
  font-weight: var(--weight-regular);
  font-family: var(--font-family);
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 1.5px solid var(--color-primary);
  outline: none;
}

.btn-submit {
  height: 50px;
  width: 134px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  color: var(--color-primary);
  font-family: var(--font-family);
  cursor: pointer;
  font-weight: var(--weight-medium);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-submit:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media (max-width: 768px) {
  .body-section {
    flex-direction: column;
    align-items: center;
  }

  .maps-container,
  .form-container {
    min-width: 100%;
  }
}
/* END CONTACT US */

/* FOOTER */
.footer {
  background-color: var(--color-primary);
  padding: 70px;
}

.logo-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.body-footer {
  margin-bottom: 50px;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.details-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ic-footer {
  width: 52px;
  height: 41px;
}

.desc-one {
  font-family: var(--font-family);
  font-size: var(--desc-very-big);
  font-weight: var(--weight-medium);
  color: var(--color-white);
}

.desc-two {
  font-family: var(--font-family);
  font-size: var(--desc-medium);
  font-weight: var(--weight-regular);
  color: rgba(255, 255, 255, 0.75);
}
/* END FOOTER */
